@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

#title{

    color: gold;
    font-size: 50px;


    width:  100%; /*or 70%, or what you want*/
    height: 200px; /*or 70%, or what you want*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 1px solid red;

}
.mat-button{
    text-align: center;
    font-size: 30px;
}
